sudo: required
dist: trusty
language: ruby

before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: tvuRaPiVbFnfs8MGsCo7R5P7qWYxjUMyempEO44DtcMXnVi6PpvvXA7PQWsZFGcFCZG7ptXBqqrcGwN9wesWA0txlPTFXVXz+Cad6bq8YlrtBYzT7GwsgkWTQ14iTIYyTPVSRVnRLe8bNZN3QFkdVO18DqZCO9ks83SMBsKaXRVaiC4NbThYGJQGXpvFjBsQ43WqUf6awj1/q5apcr+eUIH85w+PAqD555AGzef2MjSpuoM9+J22Vp3RWlhNMMbyMCrOccCF4j6oYmH9b8SRNMDUFbHo6Mp3wJO59pfxiH2gfp9O8NE/b4UhMT3VQViya6TQZwYfenwPfPl9s769QqWxMSCKS7gsfdpMbLxTbD1QcTKUZFBnkJtdBIuYaRfJezwiw9OnyN9HcTpx05UcO2PFSzrKghVeQQWhms0h/HaJdLStkurOIRoXyVlOZN0pFW/qVHU5LbztCg1/LWPLYqttTU4d+00qRLaTdLvTYhHRIUn5YDw71uhAL+aFHFDwcD2Pjs1Wl3YTFXEerhRKj3hlTZH3s9ehmEW2NECjJlnadArCwMBkXYApJoYX2faxTTPIAU4fef/XcD77ODhLXQJMcyLKNEnU2rw2e61eJcrCzbR05AlqsHycm9RhJ9r0K8efplyuBXt88gHQLqcAczSXUAkRfU3+RPGDqa5FcUc=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  on:
    repo: GITenberg/The-Flying-U-s-Last-Stand_1740
    tags: true
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy